@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

@font-face {
  font-family: "Onest Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgb(224, 223, 223);
}

::-webkit-scrollbar-thumb {
  background: rgb(140, 136, 132);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(74, 70, 66);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest Variable";
  font-weight: 500;
}

body {
  user-select: none;
  background: linear-gradient(45deg, rgb(156, 163, 175) 0%, rgb(75, 85, 99) 50%, rgb(30, 64, 175) 100%) !important;
}

img {
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

.navbar {
  background-color: #08090a93;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-collapse .nav-link {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-collapse .nav-link:hover {
  color: #4c32cd;
}

.navbar .navbar-toggler {
  border: none;
  color: #ffffff;
  background-color: #4c32cd;
  outline: none;
}

.navbar .navbar-toggler-icon {
  background-image: url(./images/burger.png);
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.container {
  margin: 5rem;
  border-radius: 15px;
  background: #08090a93;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.8), 5px 6px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
}

.container h4,
p {
  color: #ffffff;
}

.container section {
  margin-bottom: 2rem;
  padding: 2rem;
}

#home .yo {
  position: relative;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

#home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}

#home h1 span {
  color: #4c32cd;
}

#home p {
  font-size: 1.25rem;
}

#home button {
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background-color: #4c32cd;
  color: #ffffff;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

#home #whatsapp {
  background: #0bb127;
}

#home #whatsapp:hover {
  background: #097c1c;
}

#home button:hover {
  background-color: #2c13aa;
}

#home button:active {
  opacity: 0.5;
  box-shadow: none;
}

#home button span {
  padding: 0.5rem;
  color: #ffffff;
}

.text-animation {
  overflow: hidden;
  display: inline-block;
}

.typing-animation {
  animation: typing 2s steps(20, end), cursor-blink 1s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

#about-me p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 50%;
}

#skills img {
  height: 2rem;
}

#skills li {
  list-style: none;
  padding: 1rem;
  color: white;
  background-color: rgba(51, 51, 51, 0.4);
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#projects .card {
  width: 30rem;
  background-color: rgba(51, 51, 51, 0.4);
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#projects .card img {
  transition: all 0.4s;
}

#projects .card img:hover {
  transform: scale(1.05);
}

#projects .card h5 {
  color: #4c32cd;
  text-shadow: 5px 3px 3px rgb(0, 0, 0);
}

.technology {
  font-size: 2rem;
}

.fa-html5 {
  color: #ff5e00c7;
}

.fa-css3-alt {
  color: #156cc3;
}

.fa-js {
  color: #d8ca0a;
}

.fa-sass {
  color: #a7189b;
}

.fa-react {
  color: #61dbfb;
}

.fa-node {
  color: #33982b;
}

#contact {
  display: flex;
  justify-content: center;
}

#btn {
  background-color: #4c32cd;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.8);
  border: none;
  transition: all 0.3s ease-in-out;
}

#btn:hover {
  background-color: #2c13aa;
}

#btn:active {
  background-color: #4c32cd;
  box-shadow: none;
}

@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}

.mis-redes {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: black;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 16px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  top: 30px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #0bb127;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #2165a9;
  color: #ffffff;
}

footer .container-fluid {
  text-align: center;
}

.list-inline {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.list-inline a {
  text-decoration: none;
}

.fa-arrow-up {
  color: #ffffff;
  background-color: #4c32cd;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  top: -0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08090a93;
}

footer .copyright {
  color: #ffffff;
  margin-top: 5px;
  font-size: 1.1rem;
}

.copyright span {
  color: #e4405f;
}